[submodule "von-network"]
	path = von-network
	url = https://github.com/bcgov/von-network.git
[submodule "fly2plan-aries-cloudagent"]
	path = fly2plan-aries-cloudagent
	url = https://github.com/digicatapult/aries-cloudagent-python
