.git/
.DS_Store
.env
.eslintignore
.eslintrc
.gitignore
.prettierrc

docker/cypress/downloads
docker/cypress/videos
docker/cypress/screenshots

# Tests agent standalone script
tests-agent/node_modules
